<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senac
    </title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/products.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<body class="d-flex justify-content-end align-items-center">
    <div th:replace="nav-menu :: nav"></div>
    <div id="main-content" class="d-flex justify-content-start flex-column gap-5">
        <div class="container title-container">
            <div id="title" class="row no-gutters">
                <h1 class="font-weight-bold col-12">Lista de produtos</h1>
            </div>
        </div>
        <div class="container products-container">
                <div class="row justify-content-center">
                    <div class="col-3 border m-3 colum-product" th:each="product : ${productList}">
                        <div class="text-center">
                            <h5 class="card-title mt-3" th:text="${product.name}"></h5>
                            <p class="d-none product-id" th:text="${product.id}"></p>
                        </div>
                        <div class="text-center">
                            <img src="#" class="img-fluid" alt="Imagem do Produto">
                        </div>
                        <p class="card-text mt-3" th:text="${product.description}"></p>
                        <div class="text-center mb-3">
                            <a onclick="sale(this)" class="btn btn-outline-warning">Solicitar Compra</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/products.js}"></script>

</html>